# служебные файлы jupyter
.ipynb_checkpoints/

# кэш python
__pycache__/

# датасеты — качаем с kaggle локально, в git не заливаем
data/tabular/*
!data/tabular/.gitkeep
data/images/*
!data/images/.gitkeep

# веса моделей — храним в wandb, не в репозитории
models/*
!models/.gitkeep
*.pth
*.pt

# локальные логи wandb
wandb/
